<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

  </head>
  <body>
    <h1><%= title %></h1>

      <form method="POST" action="/names">
      <input type="text" name="student">
      <input type="submit" value="I'm Here">
    </form>

    <ul>
      <% for (student in students) { %>
        <li><%= student%>: <%=students[student] %></li>
      <% } %>

    </ul>
  </body>
</html>
